.post_container{
    text-align: center;
}

.post_conteiner h3{
    margin-bottom: 0.2em;
}

.post_conteiner .tags{
    display: flex;
    justify-content: center;
}

.tags p {
    margin-right: 1em;
}

.tags span {
    font-weight: bold;
}